<html>
<head>
  <link rel="stylesheet" href="bootstrap.min.css"/>
  <script src="jquery.js"></script>
  <script src="bootstrap.min.js"></script>

  <link rel="stylesheet" href="style.css"/>
  <script src="script.js"></script>
</head>
<body>
  <div class="panel">
    <h1>Streaming Tweets</h1>
    <h5>Data Driven Demo</h5>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 tweet-stream">
          <div class="tweet">
            <blockquote class="twitter-tweet">
              <p>This is flipping awesome</p>
              - this is rimas (@rimas)
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
