<html>
<head>
  <link rel="stylesheet" href="bootstrap.min.css"/>
  <script src="jquery.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

  <link rel="stylesheet" href="style.css"/>
  <script>
    var socket = io();

    socket.on('data', function(msg) {
      $('.twitter-stream').prepend(
        "\<div class='tweet'>\<blockquote class='twitter-tweet'><p>" + msg.tweet + "<\/p>\n- " + msg.username + " (@" + msg.screen_name + ")\n\<\/blockquote>"
      );
    });
  </script>
</head>
<body>
  <div class="panel">
    <h1>Streaming Tweets</h1>
    <h5>Data Driven Demo</h5>
  </div>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12 twitter-stream">
      </div>
    </div>
  </div>
</body>
</html>
